

#wrapper{
height: 800px;
width: 100%;
background-color: pink;

margin-left: auto;
margin-right: auto;
}
header{
  height: 140px;
  width: 100%;
  background-color: green;
}
nav{
  height: 60px;
  width: 100%;
  background-color: brown;
}
#center{
    display:flex;
}
main{
  height: 400px;
  width: 100%;
  background-color: red;
}
aside{
  height: 400px;
  width: 100px;
  background-color: purple;
}

footer{
  height: 200px;
  width: 100%;
  background-color: blue;

}


/*_______________ Formatering av länkar ______________________*/

a{


  color: black;
  font-family: monospace;
  font-size: 30px


}


a:link {
  text-decoration: none;
  color: yellow;
}

a:visited {
  text-decoration: none;
  color: lightgray;
}

a:hover {
  text-decoration: none;
  color: blue;
}

a:active {
  text-decoration: none;
  color: blue;
}
