

#wrapper{
height: 700px;
width: 100%;


margin-left: auto;
margin-right: auto;
}
header{
  height: 80px;
  width: 99,9%;
  background-color: cornflowerblue;
  font-size: 60px;
  font-family: fantasy;
  color: whitesmoke;
  line-height: 80px;
  text-align: center;
  border-top: inset;
  border-top-color: black;
  border-left: inset;
  border-right: inset;
  border-left-color: black;
  border-right-color: black;


}
nav{
  height: 40px;
  width: 99,9%;
  background-color: steelblue;
  border-top: inset;
  border-bottom: inset;
  border-top-color: black;
  border-bottom-color: black;
  border-left: inset;
  border-right: inset;
  border-left-color: black;
  border-right-color: black;
}
#center{
    display:flex;
}
main{
  height: 400px;
  width: 100%;
  background-color: whitesmoke;
  font-family: monospace;
  text-align:left;
}
aside{
  height: 400px;
  width: 80px;
  background-color: cornflowerblue;
  border-left: inset;
  border-right: inset;
  border-left-color: black;
  border-right-color: black;
}

footer{
  height: 180px;
  width: 99,9%;
  background-color: steelblue;
  line-height: 180px;
  text-align: center;
  border-top: inset;
  border-bottom: inset;
  border-top-color: black;
  border-bottom-color: black;
  border-left: inset;
  border-right: inset;
  border-left-color: black;
  border-right-color: black;
}


/*_______________ Formatering av länkar ______________________*/

a{

  font-family: monospace;
  font-size: 20px;
  float: left;
  line-height: 40px;
  padding: 0 38px;

}



a:link {
  text-decoration: none;
  color: whitesmoke;
}

a:visited {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: none;
  color: whitesmoke;
  transform: scale(1.2)
}

a:active {
  text-decoration: none;
  color: whitesmoke;

}
