

#wrapper{
height: 800px;
width: 100%;
background-color: pink;

margin-left: auto;
margin-right: auto;
}

body {
  background-color: #eee
}

nav{
  height: 100px;
  width: 100%;
  background-color: #fff;
}
#center{
    display:flex;
}
main{
  height: 400px;
  width: 100%;
  background-color: red;
}
aside{
  height: 400px;
  width: 100px;
  background-color: purple;
}

footer{
  height: 200px;
  width: 100%;
  background-color: blue;

}

*{
  margin: 0;
  padding: 0;
}

ul {

}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
}

ul li a {
text-decoration: none;
font-size: 14px;
font-family: arial;
color: #1e1e1e;
}

/*_______________ Formatering av länkar ______________________*/
